{% extends 'base.html' %}
{% load static %}
{% block title %}Yuan Hu - Projects-Crypto_asset {% endblock %}
{% block meta_description %}This is Yuan hu's Projects crypto_asset.{% endblock %}
{% block content %}
        <div class="collapse navbar-collapse" id="ftco-navbar">
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item"><a href="../index.html" class="nav-link">Home</a></li>
            <li class="nav-item active"><a href="../projects.html" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="../resume.html" class="nav-link">Resume</a></li>
            <li class="nav-item"><a href="../contact.html" class="nav-link">Contact</a></li>
          </ul>
        </div>
        
      </div>
    </nav>


    <section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('{% static 'website/images/bg_projects.png' %}');" >
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-center">
            <div class="row-md-15 col-md-7 col-sm-12 ftco-animate mb-5">
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="ftco-section">
      <center>
      <p  style = " color: darkgray; font-size: 40px ">Upcoming Soon...</p>
    </center>
    </section>

    
{% endblock %}