{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="collapse navbar-collapse" id="ftco-navbar">
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="projects.html" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="resume.html" class="nav-link">Resume</a></li>
            <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
          </ul>
        </div>
        
      </div>
    </nav>
    <!-- END nav -->

    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('{% static 'website/images/bg1_mix.png' %}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center" data-scrollax-parent="true">
            <div class="col-md-6 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
<!--               <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Modern Dentistry in a Calm and Relaxed Environment</h1>
              <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p> -->
              
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url('{% static 'website/images/bg2_DJI.png' %}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center" data-scrollax-parent="true">
            <div class="col-md-offset-6 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
<!--               <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Modern Dentistry in a Calm and Relaxed Environment</h1>
              <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p> -->
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="slider-item" style="background-image: url('{% static 'website/images/bg3_code.png' %}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center" data-scrollax-parent="true">
            <div class="col-md-6 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
<!--               <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Modern Dentistry in a Calm and Relaxed Environment</h1>
              <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p> -->
              
            </div>
          </div>
        </div>
      </div>

<!--       <div class="slider-item" style="background-image: url('{% static 'website/images/bg_2.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center" data-scrollax-parent="true">
            <div class="col-md-6 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
              <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Modern Achieve Your Desired Perfect Smile</h1>
              <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              
            </div>
          </div>
        </div>
      </div> -->
    </section>
    <section class="ftco-intro">
      <center>
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-12 p-4">
            <p  style = " color: white; font-size: 55px ">WELCOME TO MY SITE!</p>
            <p  style = " color: rgb(29, 29, 106); font-size: 45px ">MY NAME IS YUAN HU</p>
            <p  style = " color: rgb(29, 29, 106); font-size: 45px ">A PHD CANDIDATE AT TEXAS TECH UNIVERSITY</p>
          </div>
        </div>
      </div>
    </center>
    </section>

    <hr class="mb-3 mt-5" style = "height: 0.5px; width: 51%;">

    <section class="ftco-section">
      <div class="container">
      	<div class="row justify-content-center mb-0 pb-2">
          <div class="col-md-7 text-center">
            <p  style = " color: darkgray; font-size: 30px ">My Research Interests</p>
          </div>
        </div>
        <div class="row">
        	<div class="col-lg-4 col-md-6 d-flex mb-sm-4 ftco-animate">
        		<div class="staff">
      				<div class="block-20" style="background-image: url({% static 'website/images/Research_Interest1.jpg' %});"></div>
      				<div class="info text-center">
      					<h3><a style = " color: darkgray;">Risk Management; Option Price Evaluation; Portfolio Optimization; Portfolio Performance Measurement and Attribution</a></h3>
      				</div>
        		</div>
        	</div>
        	<div class="col-lg-4 col-md-6 d-flex mb-sm-4 ftco-animate">
        		<div class="staff">
      				<div class="block-20" style="background-image: url({% static 'website/images/Research_Interest3.jpg' %});"></div>
      				<div class="info text-center">
      					<h3><a style = " color: darkgray;">Multivariate Time Series Models; Heavy Tailed Distributions; Regression Analysis; Factor Analysis; Conditional Heteroscedastic Models</a></h3>
      				</div>
        		</div>
        	</div>
        	<div class="col-lg-4 col-md-6 d-flex mb-sm-4 ftco-animate">
        		<div class="staff">
      				<div class="block-20" style="background-image: url({% static 'website/images/Research_Interest2.jpg' %});"></div>
      				<div class="info text-center">
      					<h3><a style = " color: darkgray;">Cluster Analysis; Regression Analysis; Exploratory Data Analysis</a></h3>        				
	        			</div>
      				</div>
        		</div>
        	</div>
        </div>
      </div>
    </section>

    <section class="ftco-section-parallax ">
      <div class="block-20 mt-80 pt-80" style="background-image: url({% static 'website/images/bg_long.jpg' %});"></div>
    </section>
		
		<section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-0 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-2">Testimony</h2>
          </div>
        </div>
        <div class="row justify-content-center ftco-animate">
          <div class="col-md-8">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url({% static 'website/images/rachiv.png' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5">Yuan is definately one of my top 5 PhD student (among 60+ PhDs I've supervised). She is full of dedication and diligence in every task assigned to her. I'm impressed by her unfailingly courteous personality and elegent ability on multi-tasksing. </p>
                    <p class="name">Svetlozar T. Rachev</p>
                    <span class="position">Professor</span>
                  </div>
                </div>
              </div>
<!--               <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url({% static 'website/images/lindquist.png' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">W. Brent Lindquist</p>
                    <span class="position">Professor</span>
                  </div>
                </div>
              </div> -->             
            </div>
          </div>
        </div>
      </div>
    </section>	
{% endblock %}