{% extends 'base.html' %}
{% load static %}
{% block title %}Yuan Hu - Blog {% endblock %}
{% block meta_description %}This is Yuan hu's Research.{% endblock %}
{% block content %}


    <section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('{% static 'website/images/bg_research.png' %}');" >
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-center">
            <div class="row-md-15 col-md-7 col-sm-12 ftco-animate mb-5">
            </div>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12 ftco-animate">
		            <div class="blog-entry">
		              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'website/images/image_1.jpg' %}');">
		              </a>
		              <div class="text d-flex py-4">
		                <div class="meta mb-3">
		                  <div><a href="#">Sep. 20, 2018</a></div>
		                  <div><a href="#">Admin</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
		                </div>
		                <div class="desc pl-sm-3 pl-md-5">
			                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
			                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			                <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">Read more</a></p>
			              </div>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-12 ftco-animate">
		            <div class="blog-entry" data-aos-delay="100">
		              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'website/images/image_2.jpg' %}');">
		              </a>
		              <div class="text d-flex py-4">
		                <div class="meta mb-3">
		                  <div><a href="#">Sep. 20, 2018</a></div>
		                  <div><a href="#">Admin</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
		                </div>
		                <div class="desc pl-sm-3 pl-md-5">
			                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
			                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			                <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">Read more</a></p>
			              </div>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-12 ftco-animate">
		            <div class="blog-entry" data-aos-delay="200">
		              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'website/images/image_3.jpg' %}');">
		              </a>
		              <div class="text d-flex py-4">
		                <div class="meta mb-3">
		                  <div><a href="#">Sep. 20, 2018</a></div>
		                  <div><a href="#">Admin</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
		                </div>
		                <div class="desc pl-sm-3 pl-md-5">
			                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
			                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			                <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">Read more</a></p>
			              </div>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-12 ftco-animate">
		            <div class="blog-entry">
		              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'website/images/image_4.jpg' %}');">
		              </a>
		              <div class="text d-flex py-4">
		                <div class="meta mb-3">
		                  <div><a href="#">Sep. 20, 2018</a></div>
		                  <div><a href="#">Admin</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
		                </div>
		                <div class="desc pl-sm-3 pl-md-5">
			                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
			                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			                <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">Read more</a></p>
			              </div>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-12 ftco-animate">
		            <div class="blog-entry" data-aos-delay="100">
		              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'website/images/image_5.jpg' %}');">
		              </a>
		              <div class="text d-flex py-4">
		                <div class="meta mb-3">
		                  <div><a href="#">Sep. 20, 2018</a></div>
		                  <div><a href="#">Admin</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
		                </div>
		                <div class="desc pl-sm-3 pl-md-5">
			                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
			                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			                <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">Read more</a></p>
			              </div>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-12 ftco-animate">
		            <div class="blog-entry" data-aos-delay="200">
		              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'website/images/image_6.jpg' %}');">
		              </a>
		              <div class="text d-flex py-4">
		                <div class="meta mb-3">
		                  <div><a href="#">Sep. 20, 2018</a></div>
		                  <div><a href="#">Admin</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
		                </div>
		                <div class="desc pl-sm-3 pl-md-5">
			                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
			                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			                <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">Read more</a></p>
			              </div>
		              </div>
		            </div>
		          </div>
						</div>
						<div class="row mt-5">
		          <div class="col">
		            <div class="block-27">
		              <ul>
		                <li><a href="#">&lt;</a></li>
		                <li class="active"><span>1</span></li>
		                <li><a href="#">2</a></li>
		                <li><a href="#">3</a></li>
		                <li><a href="#">4</a></li>
		                <li><a href="#">5</a></li>
		                <li><a href="#">&gt;</a></li>
		              </ul>
		            </div>
		          </div>
		        </div>
					</div> <!-- END: col-md-8 -->
					<div class="col-md-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon fa fa-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <div class="sidebar-box ftco-animate">
              <div class="categories">
                <h3>Categories</h3>
                <li><a href="#">Food <span>(12)</span></a></li>
                <li><a href="#">Dish <span>(22)</span></a></li>
                <li><a href="#">Desserts <span>(37)</span></a></li>
                <li><a href="#">Drinks <span>(42)</span></a></li>
                <li><a href="#">Ocassion <span>(14)</span></a></li>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Recent Blog</h3>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({% static 'website/images/image_1.jpg' %});"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({% static 'website/images/image_2.jpg' %});"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({% static 'website/images/image_3.jpg' %});"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Tag Cloud</h3>
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">dish</a>
                <a href="#" class="tag-cloud-link">menu</a>
                <a href="#" class="tag-cloud-link">food</a>
                <a href="#" class="tag-cloud-link">sweet</a>
                <a href="#" class="tag-cloud-link">tasty</a>
                <a href="#" class="tag-cloud-link">delicious</a>
                <a href="#" class="tag-cloud-link">desserts</a>
                <a href="#" class="tag-cloud-link">drinks</a>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Paragraph</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>
          </div>
				</div>
			</div>
		</section>

    
{% endblock %}