{% extends 'base.html' %}
{% load static %}
{% block title %}Yuan Hu - About Me {% endblock %}
{% block meta_description %}This is Yuan hu's Resume.{% endblock %}
{% block content %}

    <section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('{% static 'website/images/bg_resume.png' %}');" >
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text">
            <div class="row-md-15 col-md-7 col-sm-12 ftco-animate mb-5">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Education, Awards and Service Begin-->

		<section class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex">
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-education-tab" data-toggle="pill" href="#v-pills-education" role="tab" aria-controls="v-pills-education" aria-selected="true">EDUCATION</a>

		              <a class="nav-link" id="v-pills-awards-tab" data-toggle="pill" href="#v-pills-awards" role="tab" aria-controls="v-pills-awards" aria-selected="false">AWARDS</a>

		              <a class="nav-link" id="v-pills-services-tab" data-toggle="pill" href="#v-pills-services" role="tab" aria-controls="v-pills-services" aria-selected="false">SERVICES</a>
		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-education" role="tabpanel" aria-labelledby="v-pills-education-tab">
		              	<div>
		              		<ul>
			                  <li><h2 class="mb-0">PhD, Mathematics</h2>
			                		<p class ="mb-3",  style = "font-size: 20px;">Texas Tech University (Lubbock, TX), 2016-Present (GPA: 3.93/4.00)</p></li>
			           
			                	<li><h2 class="mb-0">MS, Mathematics</h2>
			              		<p class ="mb-3",  style = "font-size: 20px;">Texas Tech University (Lubbock, TX), 2016-2019 (GPA: 3.92/4.00)</p></li>

			              		<li><h2 class="mb-0">MS, Statistics</h2>
			              		<p class ="mb-3",  style = "font-size: 20px;">Sichuan University (Chengdu, China), 2013-2016 (GPA: 3.67/4.00)</p></li>

			              		<li><h2 class="mb-0">Exchange Program, Mathematics</h2>
			              		<p class ="mb-3",  style = "font-size: 20px;">Indiana University of Pennsylvania (Indiana, PA), 2011-2012 (GPA: 3.82/4.00)</p></li>

			              		<li><h2 class="mb-0">BS, Statistics</h2>
			              		<p class ="mb-3",  style = "font-size: 20px;">Sichuan University (Chengdu, China), 2009-2013 (GPA: 3.63/4.00)</p></li>
			              	<ul>
				            </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-awards" role="tabpanel" aria-labelledby="v-pills-awards-tab">
		                <div>
											<ul>
  											<li style = "font-size: 20px;">2020 The Shelby Hildebrand Graduate Fellowship (10,000 USD)</li>
  											<li style = "font-size: 20px;">2013-2016 Graduate Fellowship in Sichuan University (57,600 CNY)</li>
  											<li style = "font-size: 20px;">2013 Certificate of honor for Students of Wu Yuzhang Honors College</li>
  											<li style = "font-size: 20px;">2012 China National Scholarship (2012-15604) (10,000 CNY)</li>
  											<li style = "font-size: 20px;">2012 Excellence in Academic Achievement and Qualification for the IUP Dean's List</li>
  											<li style = "font-size: 20px;">2009-2012 Undergraduate Scholarship in Sichuan University (3,000 CNY)</li>
											</ul>
				            </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-services" role="tabpanel" aria-labelledby="v-pills-services-tab">
		                <div>
		              		<ul>
			                  <li><h2 class="mb-0">Financial Mathematics Seminar Talk: Cryptoasset Portfolio and Option Valuation (10/2020) </h2>
			                		<p class ="mb-3",  style = "font-size: 20px;">Department of Mathematics and Statistics, Texas Tech University (Lubbock, TX)</p></li>
			           
			                	<li><h2 class="mb-3">Active member of SIAM students chapters (08/2019 - Present)</h2>

			              		<li><h2 class="mb-0">The International Culture Education Week Talk: The life in North America (07/2013)</h2>
			              		<p class ="mb-3",  style = "font-size: 20px;">Sichuan University (Chengdu, China)</p></li>

			              		<li><h2 class="mb-0">A Dance Stage Play: The Beautiful Turn of Life (09/2009)</h2>
			              		<p class ="mb-3",  style = "font-size: 20px;">Department of Mathematics, Sichuan University (Chengdu, China)</p></li>

			              		<li><h2 class="mb-0">Escort Runner Certificate of the Beijing 2008 Olympic Torch Relay (2008)</h2>
			              		<p class ="mb-3",  style = "font-size: 20px;">Beijing Organizing Committee for the Olympic Games (Chengdu, China)</p></li>
			              		<li><h2 class="mb-0">2008 Wenchuan Earthquake Volunteer (07/2008-08/2008)</h2>
			              		<p class ="mb-3",  style = "font-size: 20px;">Youth League in Chengdu (Chengdu, China)</p></li>
			              	<ul>
				            </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
    	</div>
    </section>
    <!-- Education, Awards and Service End-->

    <hr style = "height: 0.5px; width: 51%;">

    <!-- Work Experience Begin-->

		<section class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex">
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-education-tab" data-toggle="pill" href="#v-pills-education" role="tab" aria-controls="v-pills-education" aria-selected="true">WORK EXPERIENCE</a>
		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-education" role="tabpanel" aria-labelledby="v-pills-education-tab">
		              	<div>
		              		<ul>
			                  <li><h2 class="mb-0">Research Assistant (06/2020 - Present)</h2>
			                		<p class ="mb-3",  style = "font-size: 20px;">Mathematical Finance Program, Department of Mathematics and Statistics, Texas Tech University</p></li>
			           
			                	<li><h2 class="mb-0">Graduate Part-Time Instructor (01/2017 - Present)</h2>
			              		<p class ="mb-0",  style = "font-size: 20px;">Department of Mathematics and Statistics, Texas Tech University</p></li>           <ul>
			              			<li><p class ="mb-0",  style = "font-size: 20px;">MATH 2300 ''Statistical Methods'': Spring/Summer/Fall 2019, Spring 2020, Fall 2021</p></li>
			              			<li><p class ="mb-0",  style = "font-size: 20px;">MATH 1331 ''Introductory Mathematical Analysis II'': Fall 2017, Fall 2018</p></li>
			              			<li><p class ="mb-3",  style = "font-size: 20px;">MATH 1330 ''Introductory Mathematical Analysis I'': Spring/Summer 2017, Spring/Summer 2018</p></li>
			              		</ul>
			              		<li><h2 class="mb-0">Teaching Assistant (08/2016 - 12/2016)</h2>
			              		<p class ="mb-3",  style = "font-size: 20px;">Department of Mathematics and Statistics, Texas Tech University</p></li>
			              		<li><h2 class="mb-0">Teaching Assistant & Math Tutor (09/2014 - 07/2015) </h2>
			              		<p class ="mb-3",  style = "font-size: 20px;">Department of Mathematics, Sichuan University, China</p></li>
			              	<ul>
				            </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
    	</div>
    </section>
    <!-- Work Experience End-->

    <hr style = "height: 0.5px; width: 51%;">

    <!-- Publications Begin-->

		<section class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex">
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-education-tab" data-toggle="pill" href="#v-pills-education" role="tab" aria-controls="v-pills-education" aria-selected="true">PUBLICATIONS</a>
		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-education" role="tabpanel" aria-labelledby="v-pills-education-tab">
		              	<div>
		              		<ul>
		              			<li><h2 class="mb-0">Published Journal Articles</h2>
			              		<ul>
			              			<li><p class ="mb-0",  style = "font-size: 20px;"><b>Hu, Y.</b>, Shirvani, A., Stoyanov, S., Kim, Y.S., Fabozzi, F. and Rachev S. (2020). Option pricing in markets with informed traders.  <i>International Journal of Theoretical and Applied Finance</i>, 23(6), 2050037</p></li>
			              			<li><p class ="mb-0",  style = "font-size: 20px;">Shirvani, A., <b>Hu, Y.</b>, Rachev S. and Fabozzi, F. (2020). Option pricing with mixed Lévy subordinated price process and implied probability weighting function. <i>The Journal of Derivatives</i>, 28(2), 47-58</p></li>
			              			<li><p class ="mb-3",  style = "font-size: 20px;"><b>Hu, Y.</b>, Shirvani, A., Lindquist, W.B., Fabozzi, F. and Rachev S. (2020). Option pricing incorporating factor dynamics in complete markets. <i>Journal of Risk Financial Management</i>, 13(12), 321</p></li>
			              			<li><p class ="mb-3",  style = "font-size: 20px;"><b>Hu, Y.</b>, Shirvani, A., Lindquist, W.B., Fabozzi, F. and Rachev S. (2020). Option pricing incorporating factor dynamics in complete markets. <i>Journal of Risk Financial Management</i>, 13(12), 321</p></li>
			              			<li><p class ="mb-3",  style = "font-size: 20px;"><b>Hu, Y.</b>, Shirvani, A., Lindquist, W.B., Fabozzi, F. and Rachev S. (2020). Option pricing incorporating factor dynamics in complete markets. <i>Journal of Risk Financial Management</i>, 13(12), 321</p></li>
			              		</ul>

			              		<li><h2 class="mb-0">Book in Press</h2>
         								 <ul>
			              			<li><p class ="mb-0",  style = "font-size: 20px;">Lindquist, W.B., <b>Hu, Y.</b>, Shirvani, A. and Rachev S. (in press).
													<i>Advanced REIT Portfolio Optimization - Innovative Tools for Real Estate</i>. Springer</p></li>
			              		</ul>

			              		<li><h2 class="mb-0">Manuscripts for Journal</h2>
							          <ul>
			              			<li><p class ="mb-0",  style = "font-size: 20px;"><b>Hu, Y.</b>, Shirvani, A., Lindquist, W.B., Fabozzi, F. and Rachev S. (2021). Market complete option valuation using a Jarrow-Rudd pricing tree with skewness and kurtosis. <i>Manuscript Submitted to Journal of Economic Dynamics and Control for publication</i></p></li>
			              			<li><p class ="mb-0",  style = "font-size: 20px;"><b>Hu, Y.</b>, Shirvani, A., Lindquist, W.B., Rachev S. and Fabozzi, F.  (2021). Option pricing on multiple ETFs using a skew Brownian motion pricing tree. <i>Manuscript in Preparation.</i></p></li>
			              		</ul>
			              	<ul>
				            </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
    	</div>
    </section>

    <!-- Publications Ends-->
<!--     <center>
    	<div>
    		<p align = "left" style = "vertical-align: middle; font-size: 20px; background-color: #00144f; width: 51%; color: white;">WORK EXPERIENCE</p>
    	</div>
  	</center>
		<hr style = "height: 0.5px; width: 51%; background-color: #00144f"> -->

		<!-- Testimony Begin-->

    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-2">Testimony</h2>
            <span class="subheading">Our Happy Customer Says</span>
          </div>
        </div>
        <div class="row justify-content-center ftco-animate">
          <div class="col-md-8">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url({% static 'website/images/person_1.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                    <p class="name">Dennis Green</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url({% static 'website/images/person_2.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Dennis Green</p>
                    <span class="position">Interface Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url({% static 'website/images/person_3.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Dennis Green</p>
                    <span class="position">UI Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url({% static 'website/images/person_1.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Dennis Green</p>
                    <span class="position">Web Developer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url({% static 'website/images/person_1.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Dennis Green</p>
                    <span class="position">System Analytics</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'website/images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row d-flex align-items-center">
    			<div class="col-md-3 aside-stretch py-5">
    				<div class=" heading-section heading-section-white ftco-animate pr-md-4">
	            <h2 class="mb-3">Achievements</h2>
	            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
	          </div>
    			</div>
    			<div class="col-md-9 py-5 pl-md-5">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="14">0</strong>
		                <span>Years of Experience</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="4500">0</strong>
		                <span>Qualified Dentist</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="4200">0</strong>
		                <span>Happy Smiling Customer</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="320">0</strong>
		                <span>Patients Per Year</span>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
	      </div>
    	</div>
    </section>

    <!-- Testimony End-->

{% endblock %}